/* Lists */
ul {
  margin: 0;
  padding: 0;
}
/* Container */
#container {
  position: relative;
  width: 100%;
}
.wrap > .container {
   width: 100%;
}
/* Menu Button */
.menu-btn {
/*   width: 100px; */
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  background: #337ab7;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border-radius:5px;
}
.menu-btn:hover {
  background: rgb(78,174,74);
}

.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background:rgba(242,242,242,1);
  overflow: auto;
  margin-top: 10px;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy a {
  display: block;
  color: black;
  /*text-align: center;*/
  margin-left: 2px;
  text-decoration: none;
  /*-webkit-transition: all 0.3s ease-out;*/
}
.pushy a:hover {
/*color: #337ab7;*/
  background: rgba(41,101,169,0.3);
  text-decoration: none;
  border-radius:5px;
  /*padding: 5px 20px;*/
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  width: 98%;
}
.pushy ul:first-child {
  margin-top: 50px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy-content {
  visibility: hidden;
}

.pushy-content cat_type a {
  visibility: hidden;
}
.cat {
    height: 40px;
    line-height: 40px;
}
/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); 
}
/*.pushy-open-left #container ,*/
.pushy-open-left .container ,
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}
.pushy-open-left .pushy {
  -webkit-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}
/* Menu Transitions */
#container,
.wrap > .container,
.pushy,
.push {
transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); 
}

.pushy-content {
transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content li h4 a:hover {
 color: #337ab7;
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
/*   -webkit-animation: fade 500ms; */
/*   animation: fade 500ms; */
  }

.cat_all{
}
.cat_type, .cat_all, .cat_genre{
  /*
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
  padding-top: 1px; padding-bottom: 1px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  margin-top: 2px;
  */
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
